<form style="width: 100%; margin: auto; float: right; text-align: right" action="/logout" name="userForm" method="post">
    <h3>Hey{{username}}!</h3>
    <button style="margin-left: 15px" onclick="localStorage.clear()">Logout</button>
</form>