<h2 style="width: 20%; margin: auto">Статьи</h2>

    <form name="articlesForm" style="margin: auto">
            <input type="hidden" name="id" value="0" />
            <div class="form-group" style="width: 30%; margin: auto">
                <label style="width: 100%; height: 30px" for="theme">Тема:</label>
                <input class="form-control" name="theme" />
            </div>
            <div class="form-group" style="width: 30%; margin: auto">
                <label style="width: 100%" for="articleText">Текст статьи:</label>
                 <textarea style="width: 100%" class="form-control" name="articleText" cols="30" rows="5"></textarea>
            </div>
            <div class="panel-body">
                <button style="width: 100px" type="submit" class="btn btn-sm btn-primary">Добавить</button>
                <a style="width: 100px; height: auto" id="reset" class="btn btn-sm btn-primary">Стереть</a>
            </div>
        </form>
    <table class="table table-condensed table-striped table-bordered">
            <thead><tr><th>Id</th><th style="width: 25%">Тема</th><th style="width: 75%">Статья</th><th>Управление</th></tr></thead>
            <tbody>
        </tbody>
        </table>