<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body style="text-align: center; max-width: 50%; margin: auto; margin-top: 30px">
{{> header}}
    {{{body}}}
</body>

</html>
